# See http://help.github.com/ignore-files/ for more about ignoring files.

*.psd
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/patched/battle_result_main_031.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/patched/battle_result_main_030.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/patched/battle_result_main_029.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/patched/battle_result_main_028.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/patched/battle_result_main_027.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/patched/battle_result_main_026.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/patched/battle_result_main_022.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/original/battle_result_main_031.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/original/battle_result_main_030.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/original/battle_result_main_029.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/original/battle_result_main_028.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/original/battle_result_main_027.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/original/battle_result_main_026.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_outdated/original/battle_result_main_022.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_HD_og/battle_result_main_080.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_HD_og/battle_result_main_079.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_HD_og/battle_result_main_078.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_HD_og/battle_result_main_077.png
EN-patch/kcs2/img/battle_result/battle_result_main.png/_HD_og/battle_result_main_076.png
EN-patch/kcs2/img/wedding/wedding_marriage.png/guide_screenshot.png
